
body{
    background-color: rgb(23, 78, 12);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;

}


.container{
   background: rgb(92, 10, 10);
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   display: flex;
   justify-content: center;
   align-items: center;
}

h1{
    color: rgba(red, pink, yellow);
    font-family: Arial, sans-serif;
     font-size: 200;
     font-style: italic;
}